# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build
dist/
build/
.next/
out/
.idx/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
log.txt
*.log

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
